.Benefits {
    height: 1200px;

    h2 {
        float: left;
        margin-left: 100px;
        font-size: 60px;
    }

    .price-tags {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;

        .tag {
            font-size: 22px;
            font-weight: 500;
            margin: 40px;
            width: 240px;
            height: 70px;
            border-radius: 100px;
            background-color: #efae00;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 50px;

            .tag-holder {
                margin: 40px;
                width: 240px;
                height: 70px;
                border-radius: 100px;
                background-color: #efae00;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                z-index: 2;
            }

            .price-tags {
                height: 500px;
                width: 240px;
                // border-radius: 50%;
                background-color: transparent;
                position: absolute;
                display: block;
                z-index: 1;

                .motion-string {
                    border-left: 3px solid rgb(71, 71, 71);
                    border-right: 3px solid rgb(71, 71, 71);
                    ;
                    width: 20px;
                    height: 130px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }

                .motion-tag {
                    height: 350px;
                    border-radius: 30px;
                    margin-top: auto;
                    background-color: #664522;
                }

            }
            .tag-title-footer{
                // font-size: 40px;
                color: black;
                font-weight: 500;
                margin-top: 1080px;
            }
        }
    }
}